# Managed by ansible
*filter
:INPUT {{ anro_iptables_input_policy | default('ACCEPT') | upper }} [0:0]
:FORWARD {{ anro_iptables_forward_policy | default('ACCEPT') | upper }} [0:0]
:OUTPUT {{ anro_iptables_output_policy | default('ACCEPT') | upper }} [0:0]

{% if docker_installed | default(false) and anro_iptables_docker_enabled | default(false) %}
:DOCKER-USER - [0:0]
{% endif %}

{% for group in anro_iptables_host_groups %}
:{{ group.name | upper }} - [0:0]
{% endfor %}

{% for group in anro_iptables_ansible_host_groups %}
:{{ group | upper }} - [0:0]
{% endfor %}

{% for rule in anro_iptables_ipv6_rules %}
{{ rule }}
{% endfor %}

# Docker chain rules (to maintain compatibility with Docker network)
# These rules allow Docker containers to communicate as expected
{% if docker_installed | default(false) and anro_iptables_docker_enabled | default(false) %}
{% if anro_iptables_ipv6_docker_rules is defined and anro_iptables_ipv6_docker_rules | length > 0 %}
{% for rule in anro_iptables_ipv6_docker_rules %}
-A DOCKER-USER -i lo -j RETURN
-A DOCKER-USER -i docker0 -j RETURN
{% if anro_iptables_docker_ipv6_subnets is defined and anro_iptables_docker_ipv6_subnets | length > 0 %}
{% for subnet in anro_iptables_docker_ipv6_subnets %}
-A DOCKER-USER -s {{ subnet }} -j RETURN
{% endfor %}
{% endif %}
-A DOCKER-USER -m conntrack --ctstate RELATED,ESTABLISHED -j RETURN
{{ rule }}
{% endfor %}
{% endif %}
-A DOCKER-USER -j DROP
{% endif %}

{# Ensure ipv6 exists for the group so task won't fail for missing key #}
{% for group in anro_iptables_host_groups %}
{% if group.ipv6 is defined and group.ipv6 %}
{% for ip in group.ipv6 | flatten %}
-A {{ group.name }} -s {{ ip }} -j ACCEPT
{% endfor %}
{% endif %}
{% endfor %}

{% for group in anro_iptables_ansible_host_groups %}
{% for item in groups[group] %}
{% if anro_iptables_ansible_host_groups_ipv6_hostvar in hostvars[item] %}
-A {{ group | upper}} -s {{ hostvars[item][anro_iptables_ansible_host_groups_ipv6_hostvar] }} -j ACCEPT
{% endif %}
{% endfor %}
{% endfor %}

COMMIT
