{{ ansible_managed | comment }}

{#
 # ---------------------------------------------------------------------------
 # RAW TABLE
 # ---------------------------------------------------------------------------
 #}
{% if
  _anro_iptables_ipv6_raw_rules | length > 0
  or _anro_iptables_ipv6_raw_chains | length > 0
%}
*raw
:PREROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

{# Custom chains. #}
{% for chain in _anro_iptables_ipv6_raw_chains %}
:{{ chain.name | upper }} - [0:0]
{% endfor %}

{# Table rules. #}
{% for rule in _anro_iptables_ipv6_raw_rules %}
{{ rule }}
{% endfor %}

{# Custom chain rules. #}
{% for chain in _anro_iptables_ipv6_raw_chains %}
{% for rule in chain.ipv6 %}
-A {{ chain.name | upper }} {{ rule }}
{% endfor %}
{% endfor %}

COMMIT

{% endif %}
{#
 # ---------------------------------------------------------------------------
 # MANGLE TABLE
 # ---------------------------------------------------------------------------
 #}
{% if
  _anro_iptables_ipv6_mangle_rules | length > 0
  or _anro_iptables_ipv6_mangle_chains | length > 0
%}
*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

{# Custom chains. #}
{% for chain in _anro_iptables_ipv6_mangle_chains %}
:{{ chain.name | upper }} - [0:0]
{% endfor %}

{# Table rules. #}
{% for rule in _anro_iptables_ipv6_mangle_rules %}
{{ rule }}
{% endfor %}

{# Custom chain rules. #}
{% for chain in _anro_iptables_ipv6_mangle_chains %}
{% for rule in chain.ipv6 %}
-A {{ chain.name | upper }} {{ rule }}
{% endfor %}
{% endfor %}

COMMIT

{% endif %}
{#
 # ---------------------------------------------------------------------------
 # NAT TABLE
 # ---------------------------------------------------------------------------
 #}
{% if
  _anro_iptables_ipv6_nat_rules | length > 0
  or _anro_iptables_ipv6_nat_chains | length > 0
%}
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

{# Custom chains. #}
{% for chain in _anro_iptables_ipv6_nat_chains %}
:{{ chain.name | upper }} - [0:0]
{% endfor %}

{# Table rules. #}
{% for rule in _anro_iptables_ipv6_nat_rules %}
{{ rule }}
{% endfor %}

{# Custom chain rules. #}
{% for chain in _anro_iptables_ipv6_nat_chains %}
{% for rule in chain.ipv6 %}
-A {{ chain.name | upper }} {{ rule }}
{% endfor %}
{% endfor %}

COMMIT

{% endif %}
{#
 # ---------------------------------------------------------------------------
 # FILTER TABLE
 # ---------------------------------------------------------------------------
 #}

*filter
:INPUT {{ anro_iptables_input_policy | upper }} [0:0]
:FORWARD {{ anro_iptables_forward_policy | upper }} [0:0]
:OUTPUT {{ anro_iptables_output_policy | upper }} [0:0]

{# Custom chains. #}
{% for chain in _anro_iptables_ipv6_filter_chains %}
:{{ chain.name | upper }} - [0:0]
{% endfor %}

{# Table rules. #}
{% for rule in _anro_iptables_ipv6_filter_rules %}
{{ rule }}
{% endfor %}

{# Custom chain rules. #}
{% for chain in _anro_iptables_ipv6_filter_chains %}
{% for rule in chain.ipv6 %}
-A {{ chain.name | upper }} {{ rule }}
{% endfor %}
{% endfor %}

COMMIT